In [1]:
print("Hello world")

Hello world

In [11]:
import pandas as pd
d = {'col1':[1,2,3,4,5],'col2':[1,2,3,4,5],'col3':[1,2,3,4,5]}
d = pd.DataFrame(df)
d

   col1  col2  col3
0     1     1     1
1     2     2     2
2     3     3     3
3     4     4     4
4     5     5     5

In [27]:
d.shape[1] #number of col

3

In [28]:
d.shape[0] #number of rows

5

In [30]:
import pandas as pd
import numpy as np
import os
bios = pd.read_csv("/Users/kigenkipyego/Desktop/vscode/Jupyter Demo/bios.csv")

In [31]:
bios

,athlete_id,name,born_date,born_city,born_region,born_country,NOC,height_cm,weight_kg,died_date
0,1,Jean-François Blanchy,1886-12-12,Bordeaux,Gironde,FRA,France,NaN,NaN,1960-10-02
1,2,Arnaud Boetsch,1969-04-01,Meulan,Yvelines,FRA,France,183.0,76.0,NaN
2,3,Jean Borotra,1898-08-13,Biarritz,Pyrénées-Atlantiques,FRA,France,183.0,76.0,1994-07-17
3,4,Jacques Brugnon,1895-05-11,Paris VIIIe,Paris,FRA,France,168.0,64.0,1978-03-20
4,5,Albert Canet,1878-04-17,Wandsworth,England,GBR,France,NaN,NaN,1930-07-25
...,...,...,...,...,...,...,...,...,...,...
145495,149222,Polina Luchnikova,2002-01-30,Serov,Sverdlovsk,RUS,ROC,167.0,61.0,NaN
145496,149223,Valeriya Merkusheva,1999-09-20,Moskva (Moscow),Moskva,RUS,ROC,168.0,65.0,NaN
145497,149224,Yuliya Smirnova,1998-05-08,Kotlas,Arkhangelsk,RUS,ROC,163.0,55.0,NaN
145498,149225,André Foussard,1899-05-19,Niort,Deux-Sèvres,FRA,France,166.0,NaN,1986-03-18
145499,149814,Bill Phillips,1913-07-15,Dulwich Hill,New South Wales,AUS,Australia,NaN,NaN,2003-10-20

In [32]:
bios.mean()

TypeError: can only concatenate str (not "int") to str