In [146]:
import pandas as pd
data = pd.read_csv('/Users/kigenkipyego/Desktop/vscode/Jupyter Demo/orders.csv')
data.tail()

,order_id,customer_id,product_id,product_name,category,price,order_date,city,country
45,1046,2046,3046,Instant Pot (6 Quart),home,89.99,2023-06-15,San Francisco,USA
46,1047,2047,3047,Pair of Socks,clothing,4.50,2023-06-16,Chicago,USA
47,1048,2048,3048,Set of Mixing Bowls,home,24.99,2023-06-17,Los Angeles,USA
48,1049,2049,3049,Wireless Charger,electronics,19.99,2023-06-18,New York,USA
49,1050,2050,3050,Men's Watch,accessories,149.99,2023-06-19,Berlin,Germany

In [147]:
#checking for the number of the rows and columns
row,column = data.shape
print(row)
print(column)
print(f"Rows:{row}\ncolumn:{column}")

50
9
Rows:50
column:9

In [148]:
# checking columns
data.columns

Index(['order_id', 'customer_id', 'product_id', 'product_name', 'category',
       'price', 'order_date', 'city', 'country'],
      dtype='object')

In [149]:
data.keys()

Index(['order_id', 'customer_id', 'product_id', 'product_name', 'category',
       'price', 'order_date', 'city', 'country'],
      dtype='object')

In [150]:
#setting index
data.set_index("order_id" ,inplace= True)
data.head()

,customer_id,product_id,product_name,category,price,order_date,city,country
order_id,,,,,,,,
1001,2001,3001,Men's Cotton Shirt,clothing,24.99,2023-05-01,New York,USA
1002,2002,3002,Gaming Laptop (i7 Processor),electronics,899.99,2023-05-02,Los Angeles,USA
1003,2003,3003,Box of Pencils (12 count),stationery,2.50,2023-05-03,Chicago,USA
1004,2004,3004,Fresh Apples (1 kg),grocery,5.99,2023-05-04,San Francisco,USA
1005,2005,3005,Travel Mug,home,-19.95,2023-05-05,Austin,USA

In [151]:
#checking the data types
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 50 entries, 1001 to 1050
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   customer_id   50 non-null     int64
 1   product_id    50 non-null     int64
 2   product_name  50 non-null     object
 3   category      50 non-null     object
 4   price         49 non-null     float64
 5   order_date    49 non-null     object
 6   city          50 non-null     object
 7   country       50 non-null     object
dtypes: float64(1), int64(2), object(5)
memory usage: 3.5+ KB

In [152]:
#checking statistics summary
data.describe()

       customer_id  product_id       price
count     50.00000    50.00000   49.000000
mean    2025.50000  3025.50000   61.478163
std       14.57738    14.57738  140.308495
min     2001.00000  3001.00000  -19.950000
25%     2013.25000  3013.25000    7.990000
50%     2025.50000  3025.50000   24.990000
75%     2037.75000  3037.75000   50.000000
max     2050.00000  3050.00000  899.990000

In [153]:
#checking missing values
data.isnull()
data.isnull().sum()/len(data)*100

customer_id     0.0
product_id      0.0
product_name    0.0
category        0.0
price           2.0
order_date      2.0
city            0.0
country         0.0
dtype: float64

In [154]:
len(data)

50

In [155]:
import numpy as np
data["price"] = data["price"].fillna(56.98)
data["price"].isna().sum()
data

,customer_id,product_id,product_name,category,price,order_date,city,country
order_id,,,,,,,,
1001,2001,3001,Men's Cotton Shirt,clothing,24.99,2023-05-01,New York,USA
1002,2002,3002,Gaming Laptop (i7 Processor),electronics,899.99,2023-05-02,Los Angeles,USA
1003,2003,3003,Box of Pencils (12 count),stationery,2.50,2023-05-03,Chicago,USA
1004,2004,3004,Fresh Apples (1 kg),grocery,5.99,2023-05-04,San Francisco,USA
1005,2005,3005,Travel Mug,home,-19.95,2023-05-05,Austin,USA
1006,2006,3006,10oz Coffee Beans,grocery,14.50,2023-05-06,Seattle,USA
1007,2007,3007,Running Shoes (women's),clothing,79.00,2023-13-07,Berlin,Germany
1008,2008,3008,12 Pack of Soda,grocery,3.99,NaN,New York,USA
1009,2009,3009,Headphones (wireless),electronics,129.99,2023-05-09,Los Angeles,USA
1010,2010,3010,Office Chair,furniture,56.98,2023-05-10,Chicago,USA
1011,2011,3011,Box of Markers (24 pack),stationery,12.50,2023-05-11,San Francisco,USA
1012,2012,3012,Large Yoga Mat,sports,39.99,2023-05-12,Austin,USA
1013,2013,3013,1 pound Bag of Almonds,grocery,11.99,2023-05-13,Seattle,USA
1014,2014,3014,Kids' T-Shirt (size L),clothing,9.99,2023-05-14,Berlin,Germany
1015,2015,3015,$25 Gift Card,gift,25.00,2023-05-15,New York,USA
1016,2016,3016,Water Bottle,home,8.99,2023-05-16,Austin,USA
1017,2017,3017,Electric Kettle,home,34.50,2023-05-17,Seattle,USA
1018,2018,3018,Notebook (100 pages),stationery,3.20,2023-05-18,San Francisco,USA
1019,2019,3019,Desk Lamp,furniture,27.99,2023-05-19,Chicago,USA
1020,2020,3020,Smartphone Stand,electronics,5.49,2023-05-20,Los Angeles,USA
1021,2021,3021,Bluetooth Speaker,electronics,45.00,2023-05-21,New York,USA
1022,2022,3022,Pack of Batteries (AA),electronics,7.99,2023-05-22,Berlin,Germany
1023,2023,3023,Men's Leather Belt,clothing,-15.00,2023-05-23,Austin,USA
1024,2024,3024,Women's Perfume,beauty,55.00,2023-05-24,San Francisco,USA
1025,2025,3025,Laptop Bag,electronics,49.99,2023-05-25,Seattle,USA
1026,2026,3026,Shampoo (250ml),beauty,7.50,2023-05-26,Chicago,USA
1027,2027,3027,Garden Hose (50ft),home,25.00,2023-05-27,Berlin,Germany
1028,2028,3028,Digital Camera,electronics,350.00,invalid-date,Los Angeles,USA
1029,2029,3029,Pack of Sticky Notes,stationery,1.99,2023-05-29,New York,USA
1030,2030,3030,Ergonomic Office Chair,furniture,129.99,2023-05-30,Austin,USA
1031,2031,3031,Frying Pan (Non-Stick),home,29.99,2023-05-31,Seattle,USA
1032,2032,3032,Sunglasses (UV Protection),accessories,25.00,2023-06-01,San Francisco,USA
1033,2033,3033,Wireless Mouse,electronics,19.99,2023-06-02,Chicago,USA
1034,2034,3034,Set of Kitchen Knives,home,50.00,2023-06-03,Los Angeles,USA
1035,2035,3035,Electric Toothbrush,beauty,49.99,2023-06-04,New York,USA
1036,2036,3036,Travel Pillow,accessories,14.95,2023-06-05,Berlin,Germany
1037,2037,3037,Bag of Organic Quinoa (1kg),grocery,9.99,2023-06-06,Austin,USA
1038,2038,3038,Box of Chocolates,grocery,15.00,2023-06-07,Seattle,USA
1039,2039,3039,Pack of Light Bulbs (4 pack),home,7.99,2023-06-08,San Francisco,USA
1040,2040,3040,Men's Running Shorts,clothing,20.00,2023-06-09,Chicago,USA
1041,2041,3041,$50 Gift Card,gift,50.00,2023-06-10,Los Angeles,USA
1042,2042,3042,Blender,home,85.99,2023-06-11,New York,USA
1043,2043,3043,Women's Jacket (Size M),clothing,60.00,2023-06-12,Berlin,Germany
1044,2044,3044,Pack of AAA Batteries,electronics,5.99,2023-06-13,Austin,USA
1045,2045,3045,Electric Scooter,sports,299.99,2023-06-14,Seattle,USA
1046,2046,3046,Instant Pot (6 Quart),home,89.99,2023-06-15,San Francisco,USA
1047,2047,3047,Pair of Socks,clothing,4.50,2023-06-16,Chicago,USA
1048,2048,3048,Set of Mixing Bowls,home,24.99,2023-06-17,Los Angeles,USA
1049,2049,3049,Wireless Charger,electronics,19.99,2023-06-18,New York,USA
1050,2050,3050,Men's Watch,accessories,149.99,2023-06-19,Berlin,Germany

In [156]:
#converting to data in format
data['order_date']= pd.to_datetime(data['order_date'], errors="coerce")

In [157]:
#extracting date components
data['order_month']= data['order_date'].dt.month
data['order_day']= data['order_date'].dt.day
data['order_year']= data['order_date'].dt.year

In [158]:
#dropping a column name, 
#axis = 1 -column , axis = 0 - row
data.drop("order_date", axis=1)

,customer_id,product_id,product_name,category,price,city,country,order_month,order_day,order_year
order_id,,,,,,,,,,
1001,2001,3001,Men's Cotton Shirt,clothing,24.99,New York,USA,5.0,1.0,2023.0
1002,2002,3002,Gaming Laptop (i7 Processor),electronics,899.99,Los Angeles,USA,5.0,2.0,2023.0
1003,2003,3003,Box of Pencils (12 count),stationery,2.50,Chicago,USA,5.0,3.0,2023.0
1004,2004,3004,Fresh Apples (1 kg),grocery,5.99,San Francisco,USA,5.0,4.0,2023.0
1005,2005,3005,Travel Mug,home,-19.95,Austin,USA,5.0,5.0,2023.0
1006,2006,3006,10oz Coffee Beans,grocery,14.50,Seattle,USA,5.0,6.0,2023.0
1007,2007,3007,Running Shoes (women's),clothing,79.00,Berlin,Germany,NaN,NaN,NaN
1008,2008,3008,12 Pack of Soda,grocery,3.99,New York,USA,NaN,NaN,NaN
1009,2009,3009,Headphones (wireless),electronics,129.99,Los Angeles,USA,5.0,9.0,2023.0
1010,2010,3010,Office Chair,furniture,56.98,Chicago,USA,5.0,10.0,2023.0
1011,2011,3011,Box of Markers (24 pack),stationery,12.50,San Francisco,USA,5.0,11.0,2023.0
1012,2012,3012,Large Yoga Mat,sports,39.99,Austin,USA,5.0,12.0,2023.0
1013,2013,3013,1 pound Bag of Almonds,grocery,11.99,Seattle,USA,5.0,13.0,2023.0
1014,2014,3014,Kids' T-Shirt (size L),clothing,9.99,Berlin,Germany,5.0,14.0,2023.0
1015,2015,3015,$25 Gift Card,gift,25.00,New York,USA,5.0,15.0,2023.0
1016,2016,3016,Water Bottle,home,8.99,Austin,USA,5.0,16.0,2023.0
1017,2017,3017,Electric Kettle,home,34.50,Seattle,USA,5.0,17.0,2023.0
1018,2018,3018,Notebook (100 pages),stationery,3.20,San Francisco,USA,5.0,18.0,2023.0
1019,2019,3019,Desk Lamp,furniture,27.99,Chicago,USA,5.0,19.0,2023.0
1020,2020,3020,Smartphone Stand,electronics,5.49,Los Angeles,USA,5.0,20.0,2023.0
1021,2021,3021,Bluetooth Speaker,electronics,45.00,New York,USA,5.0,21.0,2023.0
1022,2022,3022,Pack of Batteries (AA),electronics,7.99,Berlin,Germany,5.0,22.0,2023.0
1023,2023,3023,Men's Leather Belt,clothing,-15.00,Austin,USA,5.0,23.0,2023.0
1024,2024,3024,Women's Perfume,beauty,55.00,San Francisco,USA,5.0,24.0,2023.0
1025,2025,3025,Laptop Bag,electronics,49.99,Seattle,USA,5.0,25.0,2023.0
1026,2026,3026,Shampoo (250ml),beauty,7.50,Chicago,USA,5.0,26.0,2023.0
1027,2027,3027,Garden Hose (50ft),home,25.00,Berlin,Germany,5.0,27.0,2023.0
1028,2028,3028,Digital Camera,electronics,350.00,Los Angeles,USA,NaN,NaN,NaN
1029,2029,3029,Pack of Sticky Notes,stationery,1.99,New York,USA,5.0,29.0,2023.0
1030,2030,3030,Ergonomic Office Chair,furniture,129.99,Austin,USA,5.0,30.0,2023.0
1031,2031,3031,Frying Pan (Non-Stick),home,29.99,Seattle,USA,5.0,31.0,2023.0
1032,2032,3032,Sunglasses (UV Protection),accessories,25.00,San Francisco,USA,6.0,1.0,2023.0
1033,2033,3033,Wireless Mouse,electronics,19.99,Chicago,USA,6.0,2.0,2023.0
1034,2034,3034,Set of Kitchen Knives,home,50.00,Los Angeles,USA,6.0,3.0,2023.0
1035,2035,3035,Electric Toothbrush,beauty,49.99,New York,USA,6.0,4.0,2023.0
1036,2036,3036,Travel Pillow,accessories,14.95,Berlin,Germany,6.0,5.0,2023.0
1037,2037,3037,Bag of Organic Quinoa (1kg),grocery,9.99,Austin,USA,6.0,6.0,2023.0
1038,2038,3038,Box of Chocolates,grocery,15.00,Seattle,USA,6.0,7.0,2023.0
1039,2039,3039,Pack of Light Bulbs (4 pack),home,7.99,San Francisco,USA,6.0,8.0,2023.0
1040,2040,3040,Men's Running Shorts,clothing,20.00,Chicago,USA,6.0,9.0,2023.0
1041,2041,3041,$50 Gift Card,gift,50.00,Los Angeles,USA,6.0,10.0,2023.0
1042,2042,3042,Blender,home,85.99,New York,USA,6.0,11.0,2023.0
1043,2043,3043,Women's Jacket (Size M),clothing,60.00,Berlin,Germany,6.0,12.0,2023.0
1044,2044,3044,Pack of AAA Batteries,electronics,5.99,Austin,USA,6.0,13.0,2023.0
1045,2045,3045,Electric Scooter,sports,299.99,Seattle,USA,6.0,14.0,2023.0
1046,2046,3046,Instant Pot (6 Quart),home,89.99,San Francisco,USA,6.0,15.0,2023.0
1047,2047,3047,Pair of Socks,clothing,4.50,Chicago,USA,6.0,16.0,2023.0
1048,2048,3048,Set of Mixing Bowls,home,24.99,Los Angeles,USA,6.0,17.0,2023.0
1049,2049,3049,Wireless Charger,electronics,19.99,New York,USA,6.0,18.0,2023.0
1050,2050,3050,Men's Watch,accessories,149.99,Berlin,Germany,6.0,19.0,2023.0

In [ ]:
#Groupby calculates sum(),median() or mode() depending on a colum
data.groupby(['city'])['price'].sum()

city
Austin            160.00
Berlin            346.92
Chicago           139.46
Los Angeles      1510.46
New York          256.94
San Francisco     199.67
Seattle           455.96
Name: price, dtype: float64

In [160]:
type(data['price'])

pandas.core.series.Series

In [166]:
data['order_date'].sort_values()

order_id
1001   2023-05-01
1002   2023-05-02
1003   2023-05-03
1004   2023-05-04
1005   2023-05-05
1006   2023-05-06
1009   2023-05-09
1010   2023-05-10
1011   2023-05-11
1012   2023-05-12
1013   2023-05-13
1014   2023-05-14
1015   2023-05-15
1016   2023-05-16
1017   2023-05-17
1018   2023-05-18
1019   2023-05-19
1020   2023-05-20
1021   2023-05-21
1022   2023-05-22
1023   2023-05-23
1024   2023-05-24
1025   2023-05-25
1026   2023-05-26
1027   2023-05-27
1029   2023-05-29
1030   2023-05-30
1031   2023-05-31
1032   2023-06-01
1033   2023-06-02
1034   2023-06-03
1035   2023-06-04
1036   2023-06-05
1037   2023-06-06
1038   2023-06-07
1039   2023-06-08
1040   2023-06-09
1041   2023-06-10
1042   2023-06-11
1043   2023-06-12
1044   2023-06-13
1045   2023-06-14
1046   2023-06-15
1047   2023-06-16
1048   2023-06-17
1049   2023-06-18
1050   2023-06-19
1007          NaT
1008          NaT
1028          NaT
Name: order_date, dtype: datetime64[ns]

In [167]:
data.describe()

,customer_id,product_id,price,order_date,order_month,order_day,order_year
count,50.00000,50.00000,50.000000,47,47.000000,47.000000,47.0
mean,2025.50000,3025.50000,61.388200,2023-05-26 05:06:22.978723328,5.404255,13.680851,2023.0
min,2001.00000,3001.00000,-19.950000,2023-05-01 00:00:00,5.000000,1.000000,2023.0
25%,2013.25000,3013.25000,8.240000,2023-05-14 12:00:00,5.000000,6.500000,2023.0
50%,2025.50000,3025.50000,24.990000,2023-05-26 00:00:00,5.000000,13.000000,2023.0
75%,2037.75000,3037.75000,50.000000,2023-06-07 12:00:00,6.000000,19.000000,2023.0
max,2050.00000,3050.00000,899.990000,2023-06-19 00:00:00,6.000000,31.000000,2023.0
std,14.57738,14.57738,138.870853,NaN,0.496053,8.330422,0.0

In [168]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 50 entries, 1001 to 1050
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   customer_id   50 non-null     int64
 1   product_id    50 non-null     int64
 2   product_name  50 non-null     object
 3   category      50 non-null     object
 4   price         50 non-null     float64
 5   order_date    47 non-null     datetime64[ns]
 6   city          50 non-null     object
 7   country       50 non-null     object
 8   order_month   47 non-null     float64
 9   order_day     47 non-null     float64
 10  order_year    47 non-null     float64
dtypes: datetime64[ns](1), float64(4), int64(2), object(4)
memory usage: 4.7+ KB

In [169]:
data.isna()

,customer_id,product_id,product_name,category,price,order_date,city,country,order_month,order_day,order_year
order_id,,,,,,,,,,,
1001,False,False,False,False,False,False,False,False,False,False,False
1002,False,False,False,False,False,False,False,False,False,False,False
1003,False,False,False,False,False,False,False,False,False,False,False
1004,False,False,False,False,False,False,False,False,False,False,False
1005,False,False,False,False,False,False,False,False,False,False,False
1006,False,False,False,False,False,False,False,False,False,False,False
1007,False,False,False,False,False,True,False,False,True,True,True
1008,False,False,False,False,False,True,False,False,True,True,True
1009,False,False,False,False,False,False,False,False,False,False,False
1010,False,False,False,False,False,False,False,False,False,False,False
1011,False,False,False,False,False,False,False,False,False,False,False
1012,False,False,False,False,False,False,False,False,False,False,False
1013,False,False,False,False,False,False,False,False,False,False,False
1014,False,False,False,False,False,False,False,False,False,False,False
1015,False,False,False,False,False,False,False,False,False,False,False
1016,False,False,False,False,False,False,False,False,False,False,False
1017,False,False,False,False,False,False,False,False,False,False,False
1018,False,False,False,False,False,False,False,False,False,False,False
1019,False,False,False,False,False,False,False,False,False,False,False
1020,False,False,False,False,False,False,False,False,False,False,False
1021,False,False,False,False,False,False,False,False,False,False,False
1022,False,False,False,False,False,False,False,False,False,False,False
1023,False,False,False,False,False,False,False,False,False,False,False
1024,False,False,False,False,False,False,False,False,False,False,False
1025,False,False,False,False,False,False,False,False,False,False,False
1026,False,False,False,False,False,False,False,False,False,False,False
1027,False,False,False,False,False,False,False,False,False,False,False
1028,False,False,False,False,False,True,False,False,True,True,True
1029,False,False,False,False,False,False,False,False,False,False,False
1030,False,False,False,False,False,False,False,False,False,False,False
1031,False,False,False,False,False,False,False,False,False,False,False
1032,False,False,False,False,False,False,False,False,False,False,False
1033,False,False,False,False,False,False,False,False,False,False,False
1034,False,False,False,False,False,False,False,False,False,False,False
1035,False,False,False,False,False,False,False,False,False,False,False
1036,False,False,False,False,False,False,False,False,False,False,False
1037,False,False,False,False,False,False,False,False,False,False,False
1038,False,False,False,False,False,False,False,False,False,False,False
1039,False,False,False,False,False,False,False,False,False,False,False
1040,False,False,False,False,False,False,False,False,False,False,False
1041,False,False,False,False,False,False,False,False,False,False,False
1042,False,False,False,False,False,False,False,False,False,False,False
1043,False,False,False,False,False,False,False,False,False,False,False
1044,False,False,False,False,False,False,False,False,False,False,False
1045,False,False,False,False,False,False,False,False,False,False,False
1046,False,False,False,False,False,False,False,False,False,False,False
1047,False,False,False,False,False,False,False,False,False,False,False
1048,False,False,False,False,False,False,False,False,False,False,False
1049,False,False,False,False,False,False,False,False,False,False,False
1050,False,False,False,False,False,False,False,False,False,False,False

In [172]:
#filling missing values
data['order_date'] = data['order_date'].fillna(data['order_date'].mean())

In [173]:
data.isna()

,customer_id,product_id,product_name,category,price,order_date,city,country,order_month,order_day,order_year
order_id,,,,,,,,,,,
1001,False,False,False,False,False,False,False,False,False,False,False
1002,False,False,False,False,False,False,False,False,False,False,False
1003,False,False,False,False,False,False,False,False,False,False,False
1004,False,False,False,False,False,False,False,False,False,False,False
1005,False,False,False,False,False,False,False,False,False,False,False
1006,False,False,False,False,False,False,False,False,False,False,False
1007,False,False,False,False,False,False,False,False,True,True,True
1008,False,False,False,False,False,False,False,False,True,True,True
1009,False,False,False,False,False,False,False,False,False,False,False
1010,False,False,False,False,False,False,False,False,False,False,False
1011,False,False,False,False,False,False,False,False,False,False,False
1012,False,False,False,False,False,False,False,False,False,False,False
1013,False,False,False,False,False,False,False,False,False,False,False
1014,False,False,False,False,False,False,False,False,False,False,False
1015,False,False,False,False,False,False,False,False,False,False,False
1016,False,False,False,False,False,False,False,False,False,False,False
1017,False,False,False,False,False,False,False,False,False,False,False
1018,False,False,False,False,False,False,False,False,False,False,False
1019,False,False,False,False,False,False,False,False,False,False,False
1020,False,False,False,False,False,False,False,False,False,False,False
1021,False,False,False,False,False,False,False,False,False,False,False
1022,False,False,False,False,False,False,False,False,False,False,False
1023,False,False,False,False,False,False,False,False,False,False,False
1024,False,False,False,False,False,False,False,False,False,False,False
1025,False,False,False,False,False,False,False,False,False,False,False
1026,False,False,False,False,False,False,False,False,False,False,False
1027,False,False,False,False,False,False,False,False,False,False,False
1028,False,False,False,False,False,False,False,False,True,True,True
1029,False,False,False,False,False,False,False,False,False,False,False
1030,False,False,False,False,False,False,False,False,False,False,False
1031,False,False,False,False,False,False,False,False,False,False,False
1032,False,False,False,False,False,False,False,False,False,False,False
1033,False,False,False,False,False,False,False,False,False,False,False
1034,False,False,False,False,False,False,False,False,False,False,False
1035,False,False,False,False,False,False,False,False,False,False,False
1036,False,False,False,False,False,False,False,False,False,False,False
1037,False,False,False,False,False,False,False,False,False,False,False
1038,False,False,False,False,False,False,False,False,False,False,False
1039,False,False,False,False,False,False,False,False,False,False,False
1040,False,False,False,False,False,False,False,False,False,False,False
1041,False,False,False,False,False,False,False,False,False,False,False
1042,False,False,False,False,False,False,False,False,False,False,False
1043,False,False,False,False,False,False,False,False,False,False,False
1044,False,False,False,False,False,False,False,False,False,False,False
1045,False,False,False,False,False,False,False,False,False,False,False
1046,False,False,False,False,False,False,False,False,False,False,False
1047,False,False,False,False,False,False,False,False,False,False,False
1048,False,False,False,False,False,False,False,False,False,False,False
1049,False,False,False,False,False,False,False,False,False,False,False
1050,False,False,False,False,False,False,False,False,False,False,False

In [ ]:
data.drop(1028,  axis=0)
data.drop(1007, )